@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

*{
    font-family: "SUSE", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    cursor: pointer;
}
img{
    max-width: 100%;
}
ul, li{
    list-style: none;
}

body{
    min-height: 100vh;
    height: 100%;

    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

/*Header Section*/

header{
    grid-area: header;
    background-color: #222222;
    color: #fff;
    padding: 0 1rem;
}

.header__container{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navbar{
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.header__nav-link{
    font-size: 1.175rem;
    font-weight: 300;
    color: #fff;
}

.header__nav-link:hover{
    border-bottom: 3px solid firebrick;
}

.header__nav-contact{
    padding: .5rem 1rem;
    border-radius: 2rem;
    background-color: firebrick;
    color: #fff;
}
.header__nav-contact:hover{
    background-color: firebrick;
    border: none;
    opacity: .8;
}

.header__logo{
    color: #fff;
    font-size: 2.5rem;
    font-weight: 650;
}

.header__search-bar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__input-user{
    line-height: 1.4rem;
    padding-left: 1.9rem;
    font-size: 1.2rem;
    font-weight: 300;
    border: none;
    border-bottom: .1rem solid rgba(255, 255, 255, 0.6);
    background: transparent;
    color: #fff;
    opacity: 0.8;
    width: 200px;
}

.header__input-user:focus{
    outline: none;
    border-bottom: .1rem solid firebrick;
}

.header__btn-search{
    position: absolute;
    left: 0;
    cursor: pointer;
    opacity: 0.7;
    z-index: 2;
}

.header__btn-search:hover{
    color: firebrick;
}

.header__btn-menu{
    cursor: pointer;
    top: 1rem;
    right: 1rem;
}

.header__btn-menu-close{
    position: absolute;
    top: 0;
    right: 0;
}

/*Users Section*/
.users{
    grid-area: main;
    background: #eee;
    padding: 3rem 1rem;
}