@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

*{
    font-family: "SUSE", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



a{
    text-decoration: none;
    cursor: pointer;
}
img{
    max-width: 100%;
}
ul, li{
    list-style: none;
}

body{
    min-height: 100vh;
    height: 100%;

    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

/*Header Section*/

header{
    grid-area: header;
    background-color: #222222;
    color: #fff;
    padding: 0 1rem;
}

.header__container{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__navbar{
    border-top: .1rem solid #fff;
    width: 250px;
    position: absolute !important;
    top: 0;
    right: 0;
    z-index: 3;
    background: #222222;
    padding: 1rem 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.header__nav-link{
    width: 100%;
    font-size: 1.175rem;
    font-weight: 300;
    color: #fff;
    border-bottom: .1rem solid #fff;
}

.header__nav-link:hover{
    border-bottom: 3px solid firebrick;
}

.header__nav-contact{
    padding: .5rem 1rem;
    border-radius: 2rem;
    background-color: firebrick;
    color: #fff;
    border-bottom: none;
}
.header__nav-contact:hover{
    background-color: firebrick;
    border: none;
    opacity: .8;
}

.header__logo{
    color: #fff;
    font-size: 2.5rem;
    font-weight: 650;
}

.header__search-and-menu{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header__search-bar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__input-user{
    line-height: 1.4rem;
    padding-left: 1.9rem;
    font-size: 1.2rem;
    font-weight: 300;
    border: none;
    border-bottom: .1rem solid rgba(255, 255, 255, 0.6);
    background: transparent;
    color: #fff;
    opacity: 0.8;
    width: 200px;
}

.header__input-user:focus{
    outline: none;
    border-bottom: .1rem solid firebrick;
}

.header__btn-search{
    position: absolute;
    left: 0;
    cursor: pointer;
    opacity: 0.7;
    z-index: 2;
}

.header__btn-search:hover{
    color: firebrick;
}

.header__btn-menu{
    cursor: pointer;
    top: 1rem;
    right: 1rem;
}

.header__btn-menu-close{
    position: absolute;
    top: 0;
    right: 0;
}

/*search-result Section*/
.search-result{
    grid-area: main;
    background: #eee;
    padding: 0 1rem;
}
.search-result__container{
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1rem;
    position: relative;
}
.search-result__container-auto-fit{
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)) !important;
}

.search-result__card{
    display: flex;
    flex-direction: column;
    gap: .75rem;
    justify-content: space-between;
    align-items: center;
    background-color: ghostwhite;
    padding: 1.3rem .8rem;
    border-radius: 1rem;
    box-shadow: .2rem .2rem 1rem;
    position: relative;
}
.search-result__about{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto;
}

.search-result__about > img{
    grid-row: 1 / -1;
}

.search-result__name{
    font-size: 1.4rem;
    font-weight: 720;
    line-height: 2rem;
    border-bottom: .1rem solid black;
    max-width: max-content;
}
.search-result__avatar{
    height: 150px;
    border-radius: 50%;
    border: .2rem solid darkgrey;
}
.search-result__username{
    font-size: 1.08rem;
    font-weight: 200;
    opacity: 0.8;
}

.search-result__info{
    align-self: start;
    font-size: .9rem;
    font-weight: 300;
}
.search-result__info > li{
    display: flex;
    align-items: center;
    gap: .3rem;
}
.search-result__link{
    align-self: end;
    color: #fff;
    background: firebrick;
    padding: .3rem .7rem;
    font-size: .9rem;
    font-weight: 300;
}
.search-result__link:hover{
    opacity: .9;
}
.search-result__bio{
    flex-grow: 1;
    max-height: 100px;
    overflow-y: scroll;
    font-size: 1rem;
    font-weight: 300;
    align-self: start;
    width: 100%;
}

/*Footer Section*/
footer{
    grid-area: footer;
    background: #222222;
    color: white;
    padding: 0 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.footer__container{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__social{
    display: flex;
    gap: 1rem;
}
.footer__social-link{
    color: #fff;
    font-size: 1.2rem;
}
.footer__social-link:hover{
    color: rgba(255, 255, 255, 0.6);
}

.footer__info, .footer__info{
    font-size: .85rem;
    font-weight: 200;
}

.hide{
    display: none !important;
}