@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    cursor: pointer;
}
img{
    max-width: 100%;
}
ul, li{
    list-style: none;
}

body{
    font-family: "SUSE", sans-serif;
    min-height: 100vh;
    height: 100%;

    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

/*Header Section*/

header{
    grid-area: header;
    background-color: #222222;
    color: #fff;
    padding: 0 1rem;
}

.header__container{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navbar{
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.header__nav-link{
    font-size: 1.175rem;
    font-weight: 300;
    color: #fff;
}

.header__nav-link:hover{
    border-bottom: 3px solid firebrick;
}

.header__btn-menu{
    cursor: pointer;
    top: 1rem;
    right: 1rem;
}

.header__btn-menu-close{
    position: absolute;
    top: 0;
    right: 0;
}